html {
  font-family: sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: #525252;
  font-family: 'Arial';
  background: #f7f7eb;
}


table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 0px;
  margin: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}
tr {
  padding: 0px;
  margin: 0px;
}
td {
  padding: 12px 0;
  border-bottom: 3px solid rgba(216,216,216,0.53);
}

thead th {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  padding: 12px 0;
  border-bottom: 3px solid rgba(216,216,216,0.53);
}

.actionColum {
  text-align: right;
}

h1 {
  padding: 0px;
  margin: 0px;
}


.form-group input {
  color: #efeeed;
  padding: 12px 0;
  margin: 0 0 20px 0;
  border: 0;
  border-bottom: 2px #efeeed solid;
  width: 100%;
  background: transparent;
  outline: none;
  min-width: 200px;
}

.form-group label {
  transition: all 0.2s;
  display: block;
  transform: translateY(-50px);
  z-index: -1;
  position: absolute;
}

.form-group input:focus + label,
.form-group input[required]:valid + label {
  transform: translateY(-64px);
  font-size: 9px;
} 


button {
  border-radius: 30px;
  border: 0;
  color: #ffffff;
  background-color: #00c8b3;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
button.block {
  width: 100%;
}

.btn-big {
  padding: 0 40px;
  margin: 0 20px;
}
.btn-icon{
  padding: 10px 10px;
}
.close-btn {
  text-align: right;
  margin-top: -12px;
  margin-right: -12px;
}

.flex {
  display: flex;
}

.header {
  background-image: url(../img/bg.svg);
  background-size: 120%;
  background-position: center 100%;
  background-repeat: no-repeat;
  color: #FFF;
  padding: 64px 40px 300px;
  background-color: #4e0250;
  display: flex;
}
.container {
  width: 1000px;
  margin: auto;
  max-width: 100%;
}

#contatosView {
  margin: 20px
}

.popUp {
  position: absolute;
  display: flex;
  width: 100%;
  height: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.popUp.open {
  height: 100%;
  overflow: visible;
  opacity: 1;
}

.panel {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 10px #00000017;
  background: #fff;
  z-index: 9
}

body.open >
.backdrop {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  transition: all 0.5s;
}

body.open >
.backdrop {
  visibility: visible;
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.icon.close {
  background-image: url(../img/times.svg);
  filter: invert(1);
}

.icon.edit {
  background-image: url(../img/edit.svg);
  filter: invert(1);
}

.listaUserMobile{
  display: none;
}

ul.listaUserMobile  {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul.listaUserMobile li {
  list-style: none;
  margin: 0px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  line-height: 26px;
}

.mt10 {
  margin-top: 10px;
}

@media (max-width: 982px) {
  .listaUserMobile{
    display: block;
  }
  .listaUserFull{
    display: none;
  }
}

@media (max-width: 1200px) {
  .header {
    background-position: center 100%;
    padding: 64px 40px 200px;
  }
}
@media (max-width: 768px) {
  .header {
    background-position: center 100%;
    padding: 64px 40px 200px;
  }
}
@media (max-width: 590px) {
  .header {
    background-position: center 100%;
    padding: 64px 40px 150px;
  }
}